.image_precache
{
    background-image: url("file://{images}/heroes/npc_dota_hero_ember_spirit.png");
    background-image: url("file://{images}/heroes/thd2_npc_dota_hero_ember_spirit.png");
    background-image: url("file://{images}/heroes/icons/npc_dota_hero_ember_spirit.png");
    background-image: url("file://{images}/heroes/icons/thd2_npc_dota_hero_ember_spirit.png");
    background-image: url("file://{images}/heroes/selection/npc_dota_hero_ember_spirit.png");
    background-image: url("file://{images}/heroes/selection/thd2_npc_dota_hero_ember_spirit.png");
    background-image: url("file://{images}/items/9ball.png");
    background-image: url("file://{images}/items/anchor.png");
    background-image: url("file://{images}/items/aunt_clothes.png");
    background-image: url("file://{images}/items/autumn_leaves.png");
    background-image: url("file://{images}/items/bagua.png");
    background-image: url("file://{images}/items/banana.png");
    background-image: url("file://{images}/items/baozi.png");
    background-image: url("file://{images}/items/bayunjianxi.png");
    background-image: url("file://{images}/items/best_lunchbox.png");
    background-image: url("file://{images}/items/better_lunchbox.png");
    background-image: url("file://{images}/items/bird.png");
    background-image: url("file://{images}/items/bloodthirstiest.png");
    background-image: url("file://{images}/items/bone_flute.png");
    background-image: url("file://{images}/items/bra.png");
    background-image: url("file://{images}/items/broom.png");
    background-image: url("file://{images}/items/brother_sharp.png");
    background-image: url("file://{images}/items/btndressxl.png");
    background-image: url("file://{images}/items/btnitem6ball.png");
    background-image: url("file://{images}/items/btnitemapple.png");
    background-image: url("file://{images}/items/btnitemcardkidman.png");
    background-image: url("file://{images}/items/btnitemcardmoon.png");
    background-image: url("file://{images}/items/btnitemcardsuperman.png");
    background-image: url("file://{images}/items/btnitemcross.png");
    background-image: url("file://{images}/items/btnitemcursepaper.png");
    background-image: url("file://{images}/items/btnitemeikisword.png");
    background-image: url("file://{images}/items/btnitemenglishtea.png");
    background-image: url("file://{images}/items/btnitemflandresword.png");
    background-image: url("file://{images}/items/btnitemfritebox.png");
    background-image: url("file://{images}/items/btnitemgap.png");
    background-image: url("file://{images}/items/btnitemgrapes.png");
    background-image: url("file://{images}/items/btnitemgreentea.png");
    background-image: url("file://{images}/items/btnitemhakkero.png");
    background-image: url("file://{images}/items/btnitemhakureiamulet.png");
    background-image: url("file://{images}/items/btnitemhealingstar.png");
    background-image: url("file://{images}/items/btnitemhearteye.png");
    background-image: url("file://{images}/items/btnitemhiedabook.png");
    background-image: url("file://{images}/items/btnitemhistorybook.png");
    background-image: url("file://{images}/items/btnitemicecap.png");
    background-image: url("file://{images}/items/btnitemikucloth.png");
    background-image: url("file://{images}/items/btnitemjealouseye.png");
    background-image: url("file://{images}/items/btnitemkoishihat.png");
    background-image: url("file://{images}/items/btnitemlunarclap.png");
    background-image: url("file://{images}/items/btnitemmarisahat.png");
    background-image: url("file://{images}/items/btnitemmikosword.png");
    background-image: url("file://{images}/items/btnitemmobile.png");
    background-image: url("file://{images}/items/btnitemmoney.png");
    background-image: url("file://{images}/items/btnitemneetwood.png");
    background-image: url("file://{images}/items/btnitemnuebow.png");
    background-image: url("file://{images}/items/btnitempad.png");
    background-image: url("file://{images}/items/btnitemraven.png");
    background-image: url("file://{images}/items/btnitemshizuhaleft.png");
    background-image: url("file://{images}/items/btnitemstonewall.png");
    background-image: url("file://{images}/items/btnitemsunnyclap.png");
    background-image: url("file://{images}/items/btnitemtenshisword.png");
    background-image: url("file://{images}/items/btnitemticket.png");
    background-image: url("file://{images}/items/btnitemtoramarulight.png");
    background-image: url("file://{images}/items/btnitemumbanana.png");
    background-image: url("file://{images}/items/btnitemviolin.png");
    background-image: url("file://{images}/items/btnitemwindbird.png");
    background-image: url("file://{images}/items/btnitemwrigglelight.png");
    background-image: url("file://{images}/items/btnitemyukkuri.png");
    background-image: url("file://{images}/items/btnitemyuugicup.png");
    background-image: url("file://{images}/items/btnitemyuyukowi.png");
    background-image: url("file://{images}/items/btnyuetu.png");
    background-image: url("file://{images}/items/cake.png");
    background-image: url("file://{images}/items/camera.png");
    background-image: url("file://{images}/items/candle.png");
    background-image: url("file://{images}/items/card_bad_man.png");
    background-image: url("file://{images}/items/card_eat_man.png");
    background-image: url("file://{images}/items/card_good_man.png");
    background-image: url("file://{images}/items/card_kid_man.png");
    background-image: url("file://{images}/items/card_love_man.png");
    background-image: url("file://{images}/items/card_moon_man.png");
    background-image: url("file://{images}/items/card_super_man.png");
    background-image: url("file://{images}/items/card_worse_man.png");
    background-image: url("file://{images}/items/cat_ear.png");
    background-image: url("file://{images}/items/cat_foot.png");
    background-image: url("file://{images}/items/catnip.png");
    background-image: url("file://{images}/items/cherry_branch.png");
    background-image: url("file://{images}/items/cherry_leaf.png");
    background-image: url("file://{images}/items/cimusheng.png");
    background-image: url("file://{images}/items/cirno_claymore.png");
    background-image: url("file://{images}/items/cishidaishouji.png");
    background-image: url("file://{images}/items/clarity.png");
    background-image: url("file://{images}/items/cookbook.png");
    background-image: url("file://{images}/items/cucumber.png");
    background-image: url("file://{images}/items/cyclone.png");
    background-image: url("file://{images}/items/darkred_umbrella.png");
    background-image: url("file://{images}/items/diary.png");
    background-image: url("file://{images}/items/doctor_doll.png");
    background-image: url("file://{images}/items/donation_box.png");
    background-image: url("file://{images}/items/donation_gem.png");
    background-image: url("file://{images}/items/dragon_star.png");
    background-image: url("file://{images}/items/dummy_doll1.png");
    background-image: url("file://{images}/items/ertianyiliu.png");
    background-image: url("file://{images}/items/eyunzhifu.png");
    background-image: url("file://{images}/items/fan.png");
    background-image: url("file://{images}/items/feixiangjian.png");
    background-image: url("file://{images}/items/fengmao.png");
    background-image: url("file://{images}/items/fireflies_light.png");
    background-image: url("file://{images}/items/flask.png");
    background-image: url("file://{images}/items/flower_umbrella.png");
    background-image: url("file://{images}/items/fox_mask.png");
    background-image: url("file://{images}/items/frock.png");
    background-image: url("file://{images}/items/frog.png");
    background-image: url("file://{images}/items/frozen_frog.png");
    background-image: url("file://{images}/items/fumo.png");
    background-image: url("file://{images}/items/ganggenier.png");
    background-image: url("file://{images}/items/gem.png");
    background-image: url("file://{images}/items/ghost_balloon.png");
    background-image: url("file://{images}/items/ghostspoon.png");
    background-image: url("file://{images}/items/glue.png");
    background-image: url("file://{images}/items/god_hand.png");
    background-image: url("file://{images}/items/god_lunchbox.png");
    background-image: url("file://{images}/items/gold9ball.png");
    background-image: url("file://{images}/items/good_lunchbox.png");
    background-image: url("file://{images}/items/gran_grimoire.png");
    background-image: url("file://{images}/items/green_dam.png");
    background-image: url("file://{images}/items/grudge_bow.png");
    background-image: url("file://{images}/items/guilty_mask.png");
    background-image: url("file://{images}/items/hakurei_amulet.png");
    background-image: url("file://{images}/items/hakurei_ticket.png");
    background-image: url("file://{images}/items/hammer.png");
    background-image: url("file://{images}/items/harvest_cradle.png");
    background-image: url("file://{images}/items/hetongmugongren.png");
    background-image: url("file://{images}/items/hetongtuijinzhuangzhi.png");
    background-image: url("file://{images}/items/hexie.png");
    background-image: url("file://{images}/items/hj_bug.png");
    background-image: url("file://{images}/items/hongcha.png");
    background-image: url("file://{images}/items/horse_blue.png");
    background-image: url("file://{images}/items/horse_green.png");
    background-image: url("file://{images}/items/horse_king.png");
    background-image: url("file://{images}/items/horse_red.png");
    background-image: url("file://{images}/items/huanyingzhifeng.png");
    background-image: url("file://{images}/items/hunting_cap.png");
    background-image: url("file://{images}/items/ice_block.png");
    background-image: url("file://{images}/items/inaba_illusion_weapon.png");
    background-image: url("file://{images}/items/item_9ball.png");
    background-image: url("file://{images}/items/item_anchor.png");
    background-image: url("file://{images}/items/item_aunt_clothes.png");
    background-image: url("file://{images}/items/item_autumn_leaves.png");
    background-image: url("file://{images}/items/item_bagua.png");
    background-image: url("file://{images}/items/item_baozi.png");
    background-image: url("file://{images}/items/item_bayunjianxi.png");
    background-image: url("file://{images}/items/item_best_lunchbox.png");
    background-image: url("file://{images}/items/item_better_lunchbox.png");
    background-image: url("file://{images}/items/item_bird.png");
    background-image: url("file://{images}/items/item_bloodthirstiest.png");
    background-image: url("file://{images}/items/item_bone_flute.png");
    background-image: url("file://{images}/items/item_bra.png");
    background-image: url("file://{images}/items/item_broom.png");
    background-image: url("file://{images}/items/item_brother_sharp.png");
    background-image: url("file://{images}/items/item_cake.png");
    background-image: url("file://{images}/items/item_camera.png");
    background-image: url("file://{images}/items/item_candle.png");
    background-image: url("file://{images}/items/item_card_bad_man.png");
    background-image: url("file://{images}/items/item_card_eat_man.png");
    background-image: url("file://{images}/items/item_card_good_man.png");
    background-image: url("file://{images}/items/item_card_kid_man.png");
    background-image: url("file://{images}/items/item_card_love_man.png");
    background-image: url("file://{images}/items/item_card_moon_man.png");
    background-image: url("file://{images}/items/item_card_super_man.png");
    background-image: url("file://{images}/items/item_card_worse_man.png");
    background-image: url("file://{images}/items/item_cat_ear.png");
    background-image: url("file://{images}/items/item_cat_foot.png");
    background-image: url("file://{images}/items/item_catnip.png");
    background-image: url("file://{images}/items/item_cherry_branch.png");
    background-image: url("file://{images}/items/item_cherry_leaf.png");
    background-image: url("file://{images}/items/item_cirno_claymore.png");
    background-image: url("file://{images}/items/item_cishidaishouji.png");
    background-image: url("file://{images}/items/item_cookbook.png");
    background-image: url("file://{images}/items/item_cucumber.png");
    background-image: url("file://{images}/items/item_darkred_umbrella.png");
    background-image: url("file://{images}/items/item_diary.png");
    background-image: url("file://{images}/items/item_doctor_doll.png");
    background-image: url("file://{images}/items/item_donation_box.png");
    background-image: url("file://{images}/items/item_donation_gem.png");
    background-image: url("file://{images}/items/item_dragon_star.png");
    background-image: url("file://{images}/items/item_dummy_doll1.png");
    background-image: url("file://{images}/items/item_ertianyiliu.png");
    background-image: url("file://{images}/items/item_eyunzhifu.png");
    background-image: url("file://{images}/items/item_fan.png");
    background-image: url("file://{images}/items/item_feixiangjian.png");
    background-image: url("file://{images}/items/item_fengmao.png");
    background-image: url("file://{images}/items/item_fireflies_light.png");
    background-image: url("file://{images}/items/item_flower_umbrella.png");
    background-image: url("file://{images}/items/item_fox_mask.png");
    background-image: url("file://{images}/items/item_frock.png");
    background-image: url("file://{images}/items/item_frog.png");
    background-image: url("file://{images}/items/item_frozen_frog.png");
    background-image: url("file://{images}/items/item_ganggenier.png");
    background-image: url("file://{images}/items/item_ghost_balloon.png");
    background-image: url("file://{images}/items/item_ghostspoon.png");
    background-image: url("file://{images}/items/item_glue.png");
    background-image: url("file://{images}/items/item_god_hand.png");
    background-image: url("file://{images}/items/item_god_lunchbox.png");
    background-image: url("file://{images}/items/item_gold9ball.png");
    background-image: url("file://{images}/items/item_good_lunchbox.png");
    background-image: url("file://{images}/items/item_gran_grimoire.png");
    background-image: url("file://{images}/items/item_green_dam.png");
    background-image: url("file://{images}/items/item_grudge_bow.png");
    background-image: url("file://{images}/items/item_guilty_mask.png");
    background-image: url("file://{images}/items/item_hakurei_amulet.png");
    background-image: url("file://{images}/items/item_hakurei_ticket.png");
    background-image: url("file://{images}/items/item_hammer.png");
    background-image: url("file://{images}/items/item_harvest_cradle.png");
    background-image: url("file://{images}/items/item_hetongmugongren.png");
    background-image: url("file://{images}/items/item_hetongtuijinzhuangzhi.png");
    background-image: url("file://{images}/items/item_hexie.png");
    background-image: url("file://{images}/items/item_hj_bug.png");
    background-image: url("file://{images}/items/item_hongcha.png");
    background-image: url("file://{images}/items/item_horse_blue.png");
    background-image: url("file://{images}/items/item_horse_green.png");
    background-image: url("file://{images}/items/item_horse_king.png");
    background-image: url("file://{images}/items/item_horse_red.png");
    background-image: url("file://{images}/items/item_huanyingzhifeng.png");
    background-image: url("file://{images}/items/item_hunting_cap.png");
    background-image: url("file://{images}/items/item_ice_block.png");
    background-image: url("file://{images}/items/item_inaba_illusion_weapon.png");
    background-image: url("file://{images}/items/item_jeweled_branch.png");
    background-image: url("file://{images}/items/item_jiao_shou.png");
    background-image: url("file://{images}/items/item_jiaokeshu.png");
    background-image: url("file://{images}/items/item_jiduzhixinyan.png");
    background-image: url("file://{images}/items/item_jinkela.png");
    background-image: url("file://{images}/items/item_juice.png");
    background-image: url("file://{images}/items/item_kafziel.png");
    background-image: url("file://{images}/items/item_knife.png");
    background-image: url("file://{images}/items/item_laevateinn.png");
    background-image: url("file://{images}/items/item_leiyunzhiyuchuan.png");
    background-image: url("file://{images}/items/item_lifu.png");
    background-image: url("file://{images}/items/item_loneliness.png");
    background-image: url("file://{images}/items/item_luna_chip.png");
    background-image: url("file://{images}/items/item_magic_guide_book.png");
    background-image: url("file://{images}/items/item_magic_mushroom.png");
    background-image: url("file://{images}/items/item_moon_bow.png");
    background-image: url("file://{images}/items/item_morenjingjuan.png");
    background-image: url("file://{images}/items/item_mr_yang.png");
    background-image: url("file://{images}/items/item_multicast_book_1.png");
    background-image: url("file://{images}/items/item_multicast_book_2.png");
    background-image: url("file://{images}/items/item_multicast_book_3.png");
    background-image: url("file://{images}/items/item_mushroom.png");
    background-image: url("file://{images}/items/item_mushroom_kebab.png");
    background-image: url("file://{images}/items/item_mushroom_pie.png");
    background-image: url("file://{images}/items/item_mushroom_soup.png");
    background-image: url("file://{images}/items/item_nuclear_stick.png");
    background-image: url("file://{images}/items/item_pad.png");
    background-image: url("file://{images}/items/item_pant.png");
    background-image: url("file://{images}/items/item_paper_mask.png");
    background-image: url("file://{images}/items/item_peach.png");
    background-image: url("file://{images}/items/item_phoenix_wing.png");
    background-image: url("file://{images}/items/item_picnic_basket.png");
    background-image: url("file://{images}/items/item_pocket_watch.png");
    background-image: url("file://{images}/items/item_pomojinlingli.png");
    background-image: url("file://{images}/items/item_present_box.png");
    background-image: url("file://{images}/items/item_qijizhixing.png");
    background-image: url("file://{images}/items/item_qingcha.png");
    background-image: url("file://{images}/items/item_quant.png");
    background-image: url("file://{images}/items/item_rocket.png");
    background-image: url("file://{images}/items/item_rocket_2.png");
    background-image: url("file://{images}/items/item_rocket_3.png");
    background-image: url("file://{images}/items/item_rocket_4.png");
    background-image: url("file://{images}/items/item_rocket_5.png");
    background-image: url("file://{images}/items/item_rocket_diagram.png");
    background-image: url("file://{images}/items/item_sailor_suit.png");
    background-image: url("file://{images}/items/item_sake.png");
    background-image: url("file://{images}/items/item_sampan.png");
    background-image: url("file://{images}/items/item_sample_item.png");
    background-image: url("file://{images}/items/item_scissors.png");
    background-image: url("file://{images}/items/item_screw_driver.png");
    background-image: url("file://{images}/items/item_shanbibu.png");
    background-image: url("file://{images}/items/item_shizijia.png");
    background-image: url("file://{images}/items/item_silver_knife.png");
    background-image: url("file://{images}/items/item_smash_stick.png");
    background-image: url("file://{images}/items/item_swimming_suit.png");
    background-image: url("file://{images}/items/item_teeth.png");
    background-image: url("file://{images}/items/item_tengu_fan.png");
    background-image: url("file://{images}/items/item_tentacle.png");
    background-image: url("file://{images}/items/item_third_eyes.png");
    background-image: url("file://{images}/items/item_three_dimension.png");
    background-image: url("file://{images}/items/item_tingshiyice.png");
    background-image: url("file://{images}/items/item_touhou_banana.png");
    background-image: url("file://{images}/items/item_tp.png");
    background-image: url("file://{images}/items/item_tsundere.png");
    background-image: url("file://{images}/items/item_tuzhushen.png");
    background-image: url("file://{images}/items/item_UFO.png");
    background-image: url("file://{images}/items/item_umbrella.png");
    background-image: url("file://{images}/items/item_verity.png");
    background-image: url("file://{images}/items/item_wanbaochui.png");
    background-image: url("file://{images}/items/item_wanbaochui2.png");
    background-image: url("file://{images}/items/item_watermelon.png");
    background-image: url("file://{images}/items/item_wind_amulet.png");
    background-image: url("file://{images}/items/item_wind_gun.png");
    background-image: url("file://{images}/items/item_wing.png");
    background-image: url("file://{images}/items/item_wrench.png");
    background-image: url("file://{images}/items/item_xierfulingwen.png");
    background-image: url("file://{images}/items/item_xuenvdeweijin.png");
    background-image: url("file://{images}/items/item_yatagarasu.png");
    background-image: url("file://{images}/items/item_yatiangou.png");
    background-image: url("file://{images}/items/item_yitaitoujing.png");
    background-image: url("file://{images}/items/item_yuemianjidongzhuangzhi.png");
    background-image: url("file://{images}/items/item_yuemianzhinu.png");
    background-image: url("file://{images}/items/item_yuetufensuijvren.png");
    background-image: url("file://{images}/items/item_yueyaomishi.png");
    background-image: url("file://{images}/items/item_yukkuri_stick.png");
    background-image: url("file://{images}/items/item_yuri.png");
    background-image: url("file://{images}/items/item_zaiezhizhurenxing.png");
    background-image: url("file://{images}/items/item_zun_glasses.png");
    background-image: url("file://{images}/items/item_zun_hat.png");
    background-image: url("file://{images}/items/item_zuzhoumujian.png");
    background-image: url("file://{images}/items/jeweled_branch.png");
    background-image: url("file://{images}/items/jiao_shou.png");
    background-image: url("file://{images}/items/jiaokeshu.png");
    background-image: url("file://{images}/items/jiduzhixinyan.png");
    background-image: url("file://{images}/items/jinkela.png");
    background-image: url("file://{images}/items/juice.png");
    background-image: url("file://{images}/items/kafziel.png");
    background-image: url("file://{images}/items/knife.png");
    background-image: url("file://{images}/items/laevateinn.png");
    background-image: url("file://{images}/items/leishebaota.png");
    background-image: url("file://{images}/items/leiyunzhiyuchuan.png");
    background-image: url("file://{images}/items/lifu.png");
    background-image: url("file://{images}/items/loneliness.png");
    background-image: url("file://{images}/items/luna_chip.png");
    background-image: url("file://{images}/items/magic_guide_book.png");
    background-image: url("file://{images}/items/magic_mushroom.png");
    background-image: url("file://{images}/items/mingjieshouhu.png");
    background-image: url("file://{images}/items/moon_bow.png");
    background-image: url("file://{images}/items/morenjingjuan.png");
    background-image: url("file://{images}/items/mr_yang.png");
    background-image: url("file://{images}/items/multicast_book.png");
    background-image: url("file://{images}/items/multicast_book_1.png");
    background-image: url("file://{images}/items/multicast_book_2.png");
    background-image: url("file://{images}/items/multicast_book_3.png");
    background-image: url("file://{images}/items/mushroom.png");
    background-image: url("file://{images}/items/mushroom_kebab.png");
    background-image: url("file://{images}/items/mushroom_pie.png");
    background-image: url("file://{images}/items/mushroom_soup.png");
    background-image: url("file://{images}/items/nuclear_stick.png");
    background-image: url("file://{images}/items/pad.png");
    background-image: url("file://{images}/items/pant.png");
    background-image: url("file://{images}/items/paper_mask.png");
    background-image: url("file://{images}/items/peach.png");
    background-image: url("file://{images}/items/phoenix_wing.png");
    background-image: url("file://{images}/items/picnic_basket.png");
    background-image: url("file://{images}/items/pocket_watch.png");
    background-image: url("file://{images}/items/pomojinlingli.png");
    background-image: url("file://{images}/items/present_box.png");
    background-image: url("file://{images}/items/qijizhixing.png");
    background-image: url("file://{images}/items/qingcha.png");
    background-image: url("file://{images}/items/quant.png");
    background-image: url("file://{images}/items/qxj.png");
    background-image: url("file://{images}/items/rapier.png");
    background-image: url("file://{images}/items/red_sword_of_distortion.png");
    background-image: url("file://{images}/items/rocket.png");
    background-image: url("file://{images}/items/rocket_2.png");
    background-image: url("file://{images}/items/rocket_3.png");
    background-image: url("file://{images}/items/rocket_4.png");
    background-image: url("file://{images}/items/rocket_5.png");
    background-image: url("file://{images}/items/rocket_diagram.png");
    background-image: url("file://{images}/items/sailor_suit.png");
    background-image: url("file://{images}/items/sake.png");
    background-image: url("file://{images}/items/sampan.png");
    background-image: url("file://{images}/items/sample_item.png");
    background-image: url("file://{images}/items/scissors.png");
    background-image: url("file://{images}/items/screw_driver.png");
    background-image: url("file://{images}/items/shanbibu.png");
    background-image: url("file://{images}/items/shizijia.png");
    background-image: url("file://{images}/items/silver_knife.png");
    background-image: url("file://{images}/items/smash_stick.png");
    background-image: url("file://{images}/items/specialcourier.png");
    background-image: url("file://{images}/items/sunflower.png");
    background-image: url("file://{images}/items/swimming_suit.png");
    background-image: url("file://{images}/items/teeth.png");
    background-image: url("file://{images}/items/tengu_fan.png");
    background-image: url("file://{images}/items/tentacle.png");
    background-image: url("file://{images}/items/third_eyes.png");
    background-image: url("file://{images}/items/three_dimension.png");
    background-image: url("file://{images}/items/ticket.png");
    background-image: url("file://{images}/items/tingshiyice.png");
    background-image: url("file://{images}/items/touhou_banana.png");
    background-image: url("file://{images}/items/tp.png");
    background-image: url("file://{images}/items/tpscroll.png");
    background-image: url("file://{images}/items/travel_boots.png");
    background-image: url("file://{images}/items/tsundere.png");
    background-image: url("file://{images}/items/tuzhushen.png");
    background-image: url("file://{images}/items/ufo.png");
    background-image: url("file://{images}/items/umbrella.png");
    background-image: url("file://{images}/items/verity.png");
    background-image: url("file://{images}/items/wanbaochui.png");
    background-image: url("file://{images}/items/wanbaochui2.png");
    background-image: url("file://{images}/items/watermelon.png");
    background-image: url("file://{images}/items/wind_amulet.png");
    background-image: url("file://{images}/items/wind_gun.png");
    background-image: url("file://{images}/items/wing.png");
    background-image: url("file://{images}/items/wrench.png");
    background-image: url("file://{images}/items/wtf1.png");
    background-image: url("file://{images}/items/wtf2.png");
    background-image: url("file://{images}/items/wtf3.png");
    background-image: url("file://{images}/items/xiaoyefeidao.png");
    background-image: url("file://{images}/items/xierfulingwen.png");
    background-image: url("file://{images}/items/xuenvdeweijin.png");
    background-image: url("file://{images}/items/xunlongchi.png");
    background-image: url("file://{images}/items/yatagarasu.png");
    background-image: url("file://{images}/items/yatiangou.png");
    background-image: url("file://{images}/items/yitaitoujing.png");
    background-image: url("file://{images}/items/yuemianjidongzhuangzhi.png");
    background-image: url("file://{images}/items/yuemianzhinu.png");
    background-image: url("file://{images}/items/yuetufensuijvren.png");
    background-image: url("file://{images}/items/yueyaomishi.png");
    background-image: url("file://{images}/items/yukkuri_stick.png");
    background-image: url("file://{images}/items/yuri.png");
    background-image: url("file://{images}/items/zaiezhizhurenxing.png");
    background-image: url("file://{images}/items/zun_glasses.png");
    background-image: url("file://{images}/items/zun_hat.png");
    background-image: url("file://{images}/items/zuzhoumujian.png");
}
